*{
    margin: 0;
    padding: 0;
    box-sizing:content-box;

}

figure{
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: 25%;
}

#logo {
    padding-top: 20px;
    width: 150px;
}

main{
    margin-left: 5px;
}

#titolo{
    margin-top: 10px;    
}

blockquote{
    color: grey;
    width: 170px;
}

span{
    color: #1ea8e4;
}
